body {
    background: #ddc;
    font-family: cursive;
}

.container {
    text-align: center;
    margin: 80px auto;
    width: 600px;
    background: #eee;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.4);
}

h1 {
    color: #000;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

input {
    font-family: cursive;
    padding: 10px;
    outline: none;
    font-size: 18px;
}

#result {
    padding: 10px 0;
    font-weight: bold;
}

p .footer {
    font-size: 0.8rem;
    text-align: center;
}

p .footer a {
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid #ccc;
}
